[flake8]
inline-quotes = double
import-order-style = google
docstring-convention = google
max-line-length = 120

extend-ignore =
    E203, # Whitespace before ':'
    N812, # Lowercase imported as non lowercase
    N817, # Camelcase imported as acronym

per-file-ignores = */__init__.py: F401